server:
  address: localhost
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/capstone?serverTimezone=Asia/Seoul
    username: cap
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: create
      format-sql: true
      default_batch_fetch_size: 1000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
